venv.idea*.pyc__pycache__
###Visual StudioCode###vscode
/**/
settings.jsonvscode
/
tasks.jsonvscode
/
launch.jsonvscode/extensions.json
### VisualStudioCode Patch
#### Ignore all local history of files.history
