<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <style>
        #login {
            width: 320px;
            margin: 20px auto;
        }
        #login form div {
            margin: 10px 0;
        }
        .hint {
            color: red;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <h1>用户登录</h1>
    <hr>
    <div id="login">
        <p class="hint">{{ hint }}</p>
        <form action="/login/" method="post">
            {% csrf_token %}
            <div>用户名: </div>
            <div>
                <input type="text" name="username" required>
            </div>
            <div>密码: </div>
            <div>
                <input type="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="登录">
            </div>
        </form>
        <a href="/register">注册新用户</a>
    </div>
</body>
</html>