<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <style>
        #login {
            width: 250px;
            margin: 20px auto;
        }
        #login form div {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>用户注册</h1>
    <hr>
    <div id="login">
        <p style="color: red; font-size: 12px;">{{ hint }}</p>
        <form action="/register/" method="post">
            {% csrf_token %}
            <div>用户名: </div>
            <div>
                {{ f.username }}
            </div>
            <div>密码: </div>
            <div>
                {{ f.password }}
            </div>
            <div>邮箱: </div>
            <div>
                {{ f.email }}
            </div>
            <div>
                <input type="submit" value="注册">
            </div>
        </form>
        <a href="/">返回登录</a>
    </div>
</body>
</html>